@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

.contenido1
{
    width: 100%;
    height: 150vh;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 20px;
}

.border
{
    background-color: #bcff8f00;
    width: 96.5vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
}

.enunciado
{
    display: flex;
    padding-left: 30px;
    background-color: #bcff8f00;
    width: 70vw;
}

.enunciado h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    position: relative;
}

.enunciado h1::before
{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 40px;
    height: 60px;
    margin-left: -70px;
    transform: skew(25deg);   
    animation: platino;
    animation-duration: 3s;
}

@keyframes platino 
{
    0%{
        margin-left: -70px;
    }   

    100%{
        margin-left: 230px;
    }
}

.desplegable
{
    background-color: rgb(255, 152, 152);
    margin-top: 63px;
    height: 55px;
    width: 30vw;
    margin-left: 40px;
    border-radius: 25px;
}

.desplegable ul
{
    display: flex;
    list-style: none;
    margin-left: 0px;
}

.desplegable ul li 
{
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*----------------------------------------------------------------------------------------------------*/

.contenedor
{
    background-color: rgba(0, 255, 255, 0);
    width: 94.3%;
    height: 82%;
    padding: 25px;
}

.pedazo
{
    background-color: rgba(137, 43, 226, 0);
    width: 100%;
    height: 39vh;

    display: flex;
}

.ropa1
{
    background-color: #8bff7a;
    width: 46.1vw;
    height: 39vh;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.ropa1::before
{
    content: '';
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.454);   
    border: 5px solid rgba(198, 198, 198, 0.454);
    z-index: 1;
    transform: rotate(60deg);
    margin-left: -750px;
    margin-top: 100px;
    transition: 1s;
}

.ropa1:hover::before
{
    margin-left: -140px;
    margin-top: -50px;
}

.ropa1 a
{
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 0px rgb(75, 75, 75);
    font-weight: 300;
    font-size: 70px;
    transform: translate(15%, 110%);
    z-index: 2;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
}

/*...................................................*/

.ropa2
{
    background-color: #8bff7a;
    width: 46vw;
    height: 39vh;
    overflow: hidden;
    position: relative;
}

.ropa2 img
{
    transform: translate(0%, -45%);
    z-index: 1;
}

.ropa2 a
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 3px 3px 0px rgb(75, 75, 75);
    font-weight: 300;
    font-size: 70px;
    transform: translate(15%, 110%);
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.ropa2::before
{
    content: '';
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.454);   
    border: 5px solid rgba(198, 198, 198, 0.454);
    z-index: 1;
    transform: rotate(60deg);
    margin-left: -750px;
    margin-top: 100px;
    transition: 1s;
}

.ropa2:hover::before
{
    margin-left: -140px;
    margin-top: -50px;
}

/*...................................................*/

.ropa3
{
    background-color: #8bff7a;
    width: 46.1vw;
    height: 39vh;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.ropa3 img
{
    transform: translate(0%, -28%);
    z-index: 1;
}

.ropa3 a
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 3px 3px 0px rgb(75, 75, 75);
    font-weight: 300;
    font-size: 70px;
    transform: translate(15%, 110%);
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.ropa3::before
{
    content: '';
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.454);   
    border: 5px solid rgba(198, 198, 198, 0.454);
    z-index: 1;
    transform: rotate(60deg);
    margin-left: -750px;
    margin-top: 100px;
    transition: 1s;
}

.ropa3:hover::before
{
    margin-left: -140px;
    margin-top: -50px;
}

/*...................................................*/

.ropa4
{
    background-color: #8bff7a;
    width: 46vw;
    height: 39vh;
    overflow: hidden;
    position: relative;
}

.ropa4 a
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 3px 3px 0px rgb(75, 75, 75);
    font-weight: 300;
    font-size: 70px;
    transform: translate(15%, 110%);
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.ropa4::before
{
    content: '';
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.454);   
    border: 5px solid rgba(198, 198, 198, 0.454);
    z-index: 1;
    transform: rotate(60deg);
    margin-left: -750px;
    margin-top: 100px;
    transition: 1s;
}

.ropa4:hover::before
{
    margin-left: -140px;
    margin-top: -50px;
}

/*...................................................*/

.ropa5
{
    background-color: #8bff7a;
    width: 46.1vw;
    height: 39vh;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.ropa5 a
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 3px 3px 0px rgb(75, 75, 75);
    font-weight: 300;
    font-size: 70px;
    transform: translate(15%, 110%);
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.ropa5::before
{
    content: '';
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.454);   
    border: 5px solid rgba(198, 198, 198, 0.454);
    z-index: 1;
    transform: rotate(60deg);
    margin-left: -750px;
    margin-top: 100px;
    transition: 1s;
}

.ropa5:hover::before
{
    margin-left: -140px;
    margin-top: -50px;
}

/*...................................................*/

.ropa6
{
    background-color: #8bff7a;
    width: 46vw;
    height: 39vh;
    overflow: hidden;
    position: relative;
}

.ropa6 a
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 3px 3px 0px rgb(75, 75, 75);
    font-weight: 300;
    font-size: 70px;
    transform: translate(15%, 110%);
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

.ropa6::before
{
    content: '';
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.454);   
    border: 5px solid rgba(198, 198, 198, 0.454);
    z-index: 1;
    transform: rotate(60deg);
    margin-left: -750px;
    margin-top: 100px;
    transition: 1s;
}

.ropa6:hover::before
{
    margin-left: -140px;
    margin-top: -50px;
}